ALTER TABLE public.attendance_logs DROP CONSTRAINT attendance_logs_event_type_check; ALTER TABLE public.attendance_logs ADD CONSTRAINT attendance_logs_event_type_check CHECK (event_type in ('time_in', 'break_start', 'break_end', 'time_out', 'absent'));
